<form #colsettingsForm="ngForm" (ngSubmit)="register(colsettings)">
<ul>
  <li *ngFor="let col of tabledata.header; let index = index">
    <label>{{col}}</label> 
    <select [(ngModel)] = "colsettings.index" name="{{col}}">
      <option *ngFor="let c of coltypes" [ngValue]="c">{{c}}</option>
    </select>
  </li>
</ul>
<div>
  <button class="btn" type="submit" >Save</button>
</div>
</form>
<br />
{{colsettings | json}}