<!--{{tabledata|json}} -->
<div class="container p-3">
<form #colsettingsForm="ngForm" (ngSubmit)="register(colsettingsForm)">
<div class="form-group">
        <label for="colname" data-error="Required field!">Column Name:</label>
        <input name="colkey" id='colkey' #colkey="ngModel" [(ngModel)]= "initialcolsettings.colkey" type="hidden" required> 
        <input name="colname" id="colname" #colname="ngModel" class="form-control" [(ngModel)] = "initialcolsettings.name" class="form-control" required minlength="3"> 

        <div *ngIf="colname.invalid && (colname.dirty || colname.touched)"
        class="alert alert-danger">
    
        <div *ngIf="colname.errors.required">
        Column Name is required.
        </div>
        <div *ngIf="colname.errors.minlength">
        Name must be at least 3 characters long.
        </div>
        </div>

</div>
<div class="form-group">
        <label for="coltype">Type:</label>  <select #coltype="ngModel"  name="coltype" [(ngModel)] = "initialcolsettings.type" class="form-control" required>
            <option *ngFor="let c of coltypes" [ngValue]="c">{{c}}</option>
            </select>  
</div>
<div class="form-group">
        <label for="length">Length:</label> <input #length="ngModel" name="length" [(ngModel)] = "initialcolsettings.defination" class="form-control" required>

        <div *ngIf="length.invalid && (length.dirty || length.touched)"
        class="alert alert-danger">
    
        <div *ngIf="length.errors.required">
        Length is required.
        </div>        
        </div>

</div>
<!--<button type="submit" class="btn btn-default">Save</button> -->
</form>
</div>