<!--{{tabledata|json}} -->
<div class="container p-3 border">
<div [hidden]="!isLoading">Loading...</div>
<div [hidden]="isLoading">
<div class="alert alert-success" [hidden]="!successmessageisShow">
<strong>Success!</strong> Edit done.
</div>       
<form #colsettingsForm="ngForm" (ngSubmit)="register(colsettingsForm)">
<div class="form-group">
        <label for="dataField" data-error="Required field!">Column Name:</label>
        <input name="dataField" id='dataField' #dataField="ngModel" [ngModel]= "initialcolsettings.dataField" type="hidden" required>
        <!--caption: string;
        dataField: string;
        datatype: Coltype;
        format: any; -->

        <input name="caption" [pattern]="nospacepattern" id="caption" #caption="ngModel" class="form-control" [ngModel] = "initialcolsettings.caption" class="form-control" required minlength="3"> 

        <div *ngIf="caption.invalid && (caption.dirty || caption.touched)"
        class="alert alert-danger">
    
        <div *ngIf="caption.errors.required">
        Column Name is required.
        </div>
        <div *ngIf="caption.errors.minlength">
        Name must be at least 3 characters long.
        </div>
        <div *ngIf="caption.errors.pattern">
        Naming is not appropriate. Avoid using special charecters or space.  
        </div>

        </div>
</div>
<div class="form-group">
        <label for="type">Type:</label>
        <select  #dataType="ngModel" (change)="onChange(dataType.value)"  name="dataType" [ngModel] = "initialcolsettings.dataType" (ngModelChange)="initialcolsettings.dataType = $event" class="form-control" required>
            <option *ngFor="let c of coltypedropdown" [ngValue]="c">{{ c }}</option>
        </select>  
</div>
<div class="form-group">
        <label for="format">{{formatlabel}}:</label> <input #format="ngModel" name="format" [ngModel] = "initialcolsettings.format" class="form-control" required>

        <div *ngIf="format.invalid && (format.dirty || format.touched)"
        class="alert alert-danger">
    
        <div *ngIf="format.errors.required">
        Length is required.
        </div>        
        </div>

</div>
<button type="submit" class="btn btn-default" [disabled]="colsettingsForm.form.invalid">Edit</button>
</form>
</div>        
</div>