<div class="treeview">
<h4>{{header}} | <i class="fa fa-plus-square-o fa-lg" aria-hidden="true" (click)="fnAddnewdata()"> </i> Add new </h4> 
<ul class="list-group">
  <li *ngFor="let item of treelist |  keyvalue" class="list-group-item" (click)="opentree(item.key)">
    <div style="float:left;width:20%">
    <!--{{item.value.colSettings|json}}-->
    <i [ngStyle]="{'display':selectedIndex !== item.key ? 'block' : 'none'}" class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
    <i [ngStyle]="{'display':selectedIndex === item.key ? 'block' : 'none'}" class="fa fa-minus-square-o fa-lg" aria-hidden="true"></i>
  </div>  
    <!--<i class="fa fa-angle-up fa-lg" aria-hidden="true"></i>-->
    <div style="float:left;width:80%" (click)="fnFilldata(item.value, item.key);" >{{item.value.dataname}} </div>
    <div style="clear:both"></div>
    <ul class="list-group " [ngStyle]="{'display':selectedIndex === item.key ? 'block' : 'none'}">      
      <li *ngFor="let col of item.value.colSettings |  keyvalue" class="list-group-item" (click)="fnopensetting(col.value)">
        {{col.value.caption}} ({{col.value.dataType}} {{col.value.format}})
        <!--{{colitem.value|json}}-->
      </li>
    </ul>
  </li>
</ul>
</div>
