<div class="container-fluid">  
<div class="row content" >
  
<!-- left column -->
<div class="col-sm-3 sidenav">    
    <app-treeview [treedata]="exportData" (filldata)="fnFilldata($event)" treehead="Tables List" (addnewdata)="fnAddnewdata()"></app-treeview>    
</div>

<!--right column -->
<div class="col-sm-8 p-3" style="border:1px solid #cccccc;">

<input  type="file" [disabled]="isShowexportbutton" class="upload btn btn-secondary" (change)="changeListener($event.target.files)" accept=".csv">

<br />
<div [hidden]="!isLoading">Loading...</div>  
<div [hidden]="isLoading">
<!--<input type='file' onchange='convertFile(event)' id='fileInput'>-->
<!--<div [innerHTML]="str"></div>
<div [innerHTML]="employees"></div>-->

<div class="clearfix float-none">
<!--<button [hidden]="!key" class="btn btn-link float-right" (click)="opensetting();">Settings</button> -->
<br class="clearfix" /> 
<br class="clearfix" />
<h6 [hidden]="!key"> CSV filesize : {{filesize}} Bytes</h6>
<br class="clearfix" />

<app-edittype [tabledata]="colSettings" (changecol)="fnchangecolsettings($event)" [hidden]="!isShow" ></app-edittype>

<!--<dx-tree-list [hidden]="!key"
    id="str"
    [dataSource]="str.rows" 
    keyExpr="{{key}}"   
    parentIdExpr="Head_ID"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [expandedRowKeys]="[1]">        
</dx-tree-list> -->

<div class="filter-container" *ngIf="str.rows">
  <dx-filter-builder 
      [fields]="fields" 
      [(value)]="filter" *ngIf="str.rows">
  </dx-filter-builder>
  <dx-button 
      text="Apply Filter"
      type="default"
      (onClick)="buttonClick()" *ngIf="str.rows">
  </dx-button>    
  <div class="dx-clearfix"></div>
{{fields|json}}

</div>

<dx-data-grid *ngIf="str.rows"
    id="gridContainer" 
    [dataSource]="str.rows"    
    [showBorders]="true">
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-sorting
        mode="single"> <!-- or "multiple" | "none" -->
    </dxo-sorting>
    <dxo-filter-row 
        [visible]="showFilterRow" 
        [applyFilter]="currentFilter"></dxo-filter-row> 
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>

    <dxi-column *ngFor="let head of str.rows[0] | keyvalue"
        dataField="{{str.colSettings[head.key].name}}" 
        [width]="140" 
        caption="{{str.colSettings[head.key].name}}">        
        <dxo-header-filter [allowSearch]="true"></dxo-header-filter>      
    </dxi-column>

  </dx-data-grid>

<table class="table table-bordered" *ngIf="str.header" style="display:none;" >
    <thead>
      <tr>
        <!-- <th *ngFor="let head of str.header; let index = index" (click)="opensetting(head)">
             {{head}}
        </th>
        -->
        <th *ngFor="let head of str.rows[0] | keyvalue" (click)="opensetting(head.key)">
            {{str.colSettings[head.key].name}}
       </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of str.rows;">       
          <!--{{data|json}}-->
       <td *ngFor="let item of data |  keyvalue" ><!--{{item.key}}:--> {{item.value}}</td>
       
      </tr>
      
    </tbody>
  </table>

</div>
<br class="clearfix" />
<div [hidden]="!isShowexportbutton">
<form #tableform="ngForm">
<div class="form-group" >
<label>Name</label>
<input #tablename="ngModel" [pattern]="nospacepattern" type="text" [(ngModel)] = "str.dataname"  name="tablename" class="form-control" required minlength="3">
<div *ngIf="tablename.invalid && (tablename.dirty || tablename.touched)"
class="alert alert-danger">

<div *ngIf="tablename.errors.required">
Column Name is required.
</div>
<div *ngIf="tablename.errors.minlength">
Name must be at least 3 characters long.
</div>
<div *ngIf="tablename.errors.pattern"> 
    Naming is not appropriate. Avoid using special charecters or space.  
  </div>
</div>
</div>
<div class="form-group">
<label>Description</label>
<textarea #tabledescription="ngModel" [(ngModel)] = "str.description"  name="tabledescription" class="form-control"></textarea>
</div>
<div class="form-group">
<button (click)=exportdata() class="btn btn-default" [disabled]="tableform.form.invalid" >Save Data</button>
</div>
</form>

</div>
<br class="clearfix" />
<br class="clearfix" />
<div #panel  innerHTML="{{exportData}}" class="p-3  panel-default" style="border:1px solid #cccccc; display: none;"></div>

</div>
</div>

</div>
</div>




