<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a> 
                </li>
                <li class="nav-item">
                      <a class="nav-link" routerLink="/importcsv" routerLinkActive="active">Import CSV</a>
                </li>
        </ul>
    
</nav>
<router-outlet></router-outlet>
